main {
    width: 100%;
    min-width: 320px;
}

.main-misionVision {
    height: auto;
    padding: 15px;
    background-color: rgba(191, 215, 234, 0.37);;
}
.main-misionVision-figure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 170px; 
    background-color: var(--beau-blue);
    -moz-border-radius: 1000px 1000px 0 0;
    -webkit-border-radius: 1000px 1000px 0 0;
    border-radius: 1000px 1000px 0 0;
}
.misionVision-figure-circles {
    position: relative;
    width: 187.5px;
    height: 100%;
}
.circle-1 {
    position: absolute;
    bottom: 14%;
    left: 14%;
    width: 87px;
    height: 87px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}
.circle-2 {
    position: absolute;
    bottom: 14%;
    right: 14%;
    width: 87px;
    height: 87px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}
.circle-3 {
    position: absolute;
    top: 14%;
    left: calc(50% - 43.5px);
    width: 87px;
    height: 87px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}
.misionVision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
    background-color: var(--beau-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.misionVision {
    display: flex;
}

.base-styles-misionVision {
    padding: 10px;
    width: 45vw;
    height: auto;
}
.base-styles-misionVision h2 {
    font-family: 'Gelasio', serif;
    font-size: 3.6rem;
    font-weight: 500;
    text-align: center;
    color: #FFF;
}
.base-styles-misionVision p {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: #504D4D;
}
.mison-vision-separator {
    align-self: center;
    width: 2px;
    height: 150px;
    background-color: #FFF;
}
.values {
    height: 200px;
    line-height: 37px;
}

.main-aboutUs {
    position: relative;
}
.main-aboutUs-title {
    width: 100%;
    height: 0px;
    border-top: 93px solid rgba(191,215,234, 0.37);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}
.main-aboutUs-title h1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: calc(50% - 110.655px);
    font-family: 'Noto Serif', serif;
    font-size: 3.6rem;
    font-weight: 400;
}
.main-aboutUs-title p {
    position: absolute;
    top: 64px;
    left: calc(50% - 43.79px);
    z-index: 2;
    font-size: 1.8rem;
    font-weight: 300;
}
.main-aboutUs > article {
    display: flex;
    /* align-items: center; */
    padding: 30px 0;
    height: auto;
    background-color: rgba(191,215,234, 0.37);
}
.info-story {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    /* height: 450px; */
    padding: 0 10px;
}
.info-division {
    margin: 10px 0px;
    width: 120px;
    height: 3px;
    background-color: #FFF;
    border-radius: 4px;
}
.info-story h2 {
    font-size: 1.6rem ;
    font-weight: 600;
}
.info-story img {
    height: 196px;
}
.info-story span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #C4C4C4;
}
.info-story p {
    margin: 15px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
}
.main-aboutUs-info-division {
    align-self: center;
    width: 0px;
    height: 1100px;
    border: 2px solid white;
    border-radius: 4px;
}
.info-story-right-first {
    margin-top: 75px;
}
.info-story-right {
    align-items: flex-start;
}
.info-story-right p {
    text-align: left;
}
.residents-title > h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.main-staff {
    position: relative;
    min-width: 320px;
}
.main-staff-title {
    width: 100%;
    height: 0px;
    border-top: 110px solid rgba(191,215,234, 0.37);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}
.main-staff-title h2 {
    position: absolute;
    top: 20px;
    left: calc(50% - 140.095px);
    font-family: 'Noto Serif', serif;
    font-size: 3.6rem;
    font-weight: 500;
}
.main-staff-collaborators {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.main-staff-collaborators img {
    margin: 15px 0px;
    width: 70vw;
    max-width: 300px;
}
.main-staff-collaborators span {
    width: 70vw;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}