.main-aboutUs {
    position: relative;
}
/* Identity section */
.main-identity {
    position: relative;
}
.main-identity-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
}
.main-identity-box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    width: 320px;
    height: 235px;
    background-color: #82A6C233;
}
.main-identity-box-title {
    font-family: 'gelasio', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--outer-space-crayola);
}
.main-identity-box-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #373636;
}
.main-identity-mission-decoration {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 0px solid #D4E3EE;
    border-top: 275px solid #D4E3EE;
    border-left: 100vw solid transparent;
    border-bottom: 0px solid transparent;
}
.main-identity-vision-decoration {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-top: 275px solid #D4E3EE;
    border-left: 0px solid #D4E3EE;
    border-bottom: 0px solid transparent;
}

.main-identity-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 500ms;
}
.main-identity-values-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    background-color: var(--outer-space-crayola);
    font-family: 'gelasio', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    color: #FFF;
}
.main-identity-values-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 86.66vw;
    height: 13.33vw;
    border-radius: 18.66vw;
    background-color: var(--beau-blue);
    font-family: 'Gelasio', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}
.main-identity-values-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 88vw;
    width: 88vw;
    border: 8px solid var(--beau-blue);
    border-radius: 7.46vw;
}
.main-identity-values-value-title {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74.66vw;
    height: 12vw;
    background-color: var(--beau-blue);
    border-radius: 18.46vw;
    font-family: 'gelasio', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}
.main-identity-values-value-text {
    font-family: 'gelasio', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

/*About-us title section*/
.main-aboutUs-title {
    width: 100%;
    height: 0px;
    border-top: 93px solid rgba(191,215,234, 0.37);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}
.main-aboutUs-title h1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: calc(50% - 110.655px);
    font-family: 'Noto Serif', serif;
    font-size: 3.6rem;
    font-weight: 400;
}
.main-aboutUs-title p {
    position: absolute;
    top: 64px;
    left: calc(50% - 43.79px);
    z-index: 2;
    font-size: 1.8rem;
    font-weight: 300;
}
.main-aboutUs > article {
    display: flex;
    padding: 30px 0;
    height: auto;
    background-color: rgba(191,215,234, 0.37);
}

/*History section*/
.info-story {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 10px;
}
.info-division {
    margin: 10px 0px;
    width: 120px;
    height: 3px;
    background-color: #FFF;
    border-radius: 4px;
}
.info-story h2 {
    font-size: 1.6rem ;
    font-weight: 600;
}
.info-story img {
    height: 196px;
}
.info-story span {
    font-size: 1.4rem;
    font-weight: 600;
    color: #C4C4C4;
}
.info-story p {
    margin: 15px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
}
.main-aboutUs-info-division {
    align-self: center;
    width: 0px;
    height: 1100px;
    border: 2px solid white;
    border-radius: 4px;
}
.info-story-right-first {
    margin-top: 75px;
}
.info-story-right {
    align-items: flex-start;
}
.info-story-right p {
    text-align: left;
}
.residents-title > h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

/*Staff section*/
.main-staff {
    position: relative;
    min-width: 320px;
}
.main-staff-title {
    width: 100%;
    height: 0px;
    border-top: 110px solid rgba(191,215,234, 0.37);
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}
.main-staff-title h2 {
    position: absolute;
    top: 20px;
    left: calc(50% - 140.095px);
    font-family: 'Noto Serif', serif;
    font-size: 3.6rem;
    font-weight: 500;
}
.main-staff-collaborators {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
.main-staff-collaborators img {
    margin: 15px 0px;
    width: 70vw;
    max-width: 300px;
}
.main-staff-collaborators span {
    width: 70vw;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}