@media(min-width: 780px) {
    header {
        display: none;
    }
    main {
        display: none;
    }
    footer {
        display: none;
    }
    menu {
        display: none;
    }
}