#main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(44vw);
    background-size: cover;
    background-origin: center;
    background-color: #b1b1b1;
    animation: slideBg 16s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url(./assets/img/pasillo-dalia\(760x330\).jpg);
    background-image: url(./assets/img/azalea-dalia-noche\(760x330\).jpg);
    background-image: url(./assets/img/azalea-dalia\(760x330\).jpg);
    background-image: url(./assets/img/bugambilia-main\(760x330\).jpg);
}
@keyframes slideBg {
    0% {
        background-image: url(./assets/img/bugambilia-main\(760x330\).jpg);
    }
    25% {
        background-image: url(./assets/img/azalea-dalia\(760x330\).jpg);
    }
    50% {
        background-image: url(./assets/img/azalea-dalia-noche\(760x330\).jpg);
    }
    75% {
        background-image: url(./assets/img/pasillo-dalia\(760x330\).jpg);
    }
    100% {
        background-image: url(./assets/img/bugambilia-main\(760x330\).jpg);
    }
}
.main-img h1 {
    width: 250px;
    height: 60px;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 30.48px;
    text-align: center;
    color: #FFF;
}
.main-aboutUs {
    display: flex;
    justify-content: flex-end;
    height: 370px;
    background-color: #BFD7EA7E;
}
.main-aboutUs-title-container {
    position: absolute;
    left: -190px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 370px;
    width: 370px;
    border-radius: 100%;
    background-color: var(--outer-space-crayola);
}
.main-aboutUs-title-container h2 {
    padding-right: 5px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #FFF;
}
.main-aboutUs-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100vw - 180px);
    padding: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15.85px;
}
.main-aboutUs-info-container a{
    display: inline-block;
    text-decoration: none;
    width: 120px;
    height: 27px;
} 
.main-aboutUs-info-container > a > span {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 27px;
    border: #FFF solid 2px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;

    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.30);
}

.main-donations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}
.main-donations > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.main-donations > article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center ;
    position: absolute;
    z-index: 2;
    height: calc(85vh - 150px);
    width: 80vw;
    background-color: #BFD7EACC;
}
.main-donations > article img {
    height: 180px;
}
.main-donations > article h3 {
    width: 90%;
    height: 40px;
    font-size: 3rem;
    font-weight: 600;
    background-color: var(--dark-jungle-green);
    border-radius: 7px;
    color: #FFF;
    text-align: center;
}
.donations-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.donations-button-1 {
    width: 112px;
    height: 112px;
    background-color: var(--dark-jungle-green);
    border-radius: 100%;
}
.donations-button-2 {
    width: 112px;
    height: 112px;
    background-color: var(--dark-jungle-green);
    border-radius: 100%;
}
.main-donations p {
    font-size: 1rem;
    font-weight: 500;
}

.main-residents {
    height: auto;
    background-color: rgba(191, 215, 234, 0.5);
}
.residents-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}
.residents-title > h2 {
    font-size: 2rem;
    font-weight: 500;
}
.residents-title > span {
    font-size: 1.4rem;
    font-weight: 500;
} 
.residents-infography {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.residents-infography-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 32vw;
    height: 180px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--beau-blue);
}
.infography-object-color {
    color: #FFF;
    background-color: var(--dark-jungle-green);
}
.residents-services {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-align: center;
    text-decoration: none; 
    color: #000;
}
.residents-services h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.residents-services p {
    font-size: 1.2rem;
    font-weight: 500;
}