header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    width: 100%;
    min-width: 320px;
    height: 75px;
    background-color: var(--beau-blue) ;
}
header > a {
    height: auto;
}
header > a > img {
    width: 75px;
    height: 80px;
}
header > nav {
    height: 38px;
}