:root {
    --dark-jungle-green: #0D1B1E ;
    --outer-space-crayola: #0C2E35;
    --beau-blue: #BFD7EA;
    --beau-blue-37: #BFD7EA5E;
    --beau-blue-50: #BFD7EA80;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
main {
    width: 100%;
    min-width: 320px;
}

.desktop-warning {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98vw;
    height: 98vh;
}
.desktop-warning img {
    width: 30vw;
}
.desktop-warning h2 {
    width: 50vw;
    font-size: 3vw;
}

/* @media (min-width: 1000px) {
    header,main,footer,menu {
        display: none;
    }
    .bottomMenu {
        display: none !important;
    }
    .responsiveMenu {
        display: none !important;
    }
}
 */
@media (max-width: 1000px) {
    .desktop-warning {
        display: none;
    }
}