:root {
    --grayish-cyan:#82C6B9;
    --light-grayish-cyan: #C2E4DE;
    --very-dark-gray: #464646;
    --ligth-gray: #888888;

    --item-width: 50vw;
    --item-height: calc(var(--item-width) * 1.1428);
}
.main-objective {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - (87px + 75px));
    margin-bottom: 30px;
}
.main-objective-mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50%;
    width: 100%;
    text-align: center;
    background-color: var(--grayish-cyan);
}
.main-objective-mision h1 {
    margin-bottom: 10px;
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--very-dark-gray);
}
.main-objective-mision p {
    font-size: 1.8rem;
    font-weight: 400;
}
.main-objective-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50%;
    width: 100%;
    text-align: center;
    background-color: var(--light-grayish-cyan);
}
.main-objective-vision h2 {
    margin-bottom: 10px;
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--very-dark-gray);
}
.main-objective-vision p {
    font-size: 1.8rem;
    font-weight: 400;
}
.main-aboutUs {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.main-aboutUs h2 {
    margin-bottom: 0;
}
.main-aboutUs figure {
    display: flex;
    width: 100%;
}
.main-aboutUs figure img {
    width: var(--item-width);
    height: var(--item-height);
    background-color: var(--very-dark-gray);
}
.main-aboutUs figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--item-width);
    height: var(--item-height);
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    color: var(--very-dark-gray);
    background-color: var(--light-grayish-cyan);
}
.change-position {
    order: 2;
}
.main-staff-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
    height: 300px;
}
.main-staff-person-img {
    height: 210px;
    width: 210px;
    border-radius: 8px;
    background-color: var(--ligth-gray);
}
.main-staff-person-text {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--very-dark-gray);
    text-align: center;
}