:root {
    --grayish-cyan:#82C6B9;
    --light-grayish-cyan: #C2E4DE;
    --very-dark-gray: #464646;
    --ligth-gray: #888888;

    --gallery-item-separation: 100vw / 30 ;
    --gallery-item-width: calc((100vw / 3) - var(--gallery-item-separation));
}

main .main-title {
  margin-bottom: 0;  
}
.services-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    background-color: var(--light-grayish-cyan);
}
.services-description p {
    font-size: 1.3rem;
    font-weight: 500;
    width: 90vw;
    text-align: center;
    color: var(--very-dark-gray);
}
.services-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    background-color: var(--grayish-cyan);
}
.services-promo--article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-promo--article-img {
    margin: 15px 0;
}
.services-promo--article p{
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFF;
}

.change-order {
    order: 2;
}
.services-info {
    width: 100%;
    min-width: 320px;
}
.services-info article {
    display: flex;
    height: auto;
}
.services-info-text {
    padding: 25px 10px 25px 25px;
    width: 60%;
}
.services-info-text h2 {
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--grayish-cyan);
}
.services-info-text ul {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--very-dark-gray);
}
.services-info-img {
    width: 40vw;
    background-color: var(--ligth-gray);
}
.division {
    width: 100%;
    height: 40px;
    background-color: var(--light-grayish-cyan);
}

.infographic {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #9FD2C8;
}
.infographic > h3 {
    margin-top: 15px;
    font-family: bebas-kai, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #1F4560;
}
.infographic > p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 15px;
}
.infographic-articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.infographic article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: auto;
}
.infographic article p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1F4560;
    margin-bottom: 15px;
}
.infographic-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #FFF;
}
.infographic-img img {
    width: 70px;
    height: 70px;
}
.infographic-counter {
    position: absolute;
    z-index: 2;
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-family: bebas-kai, sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: #1C6053;
    color: #FFF;

    -webkit-box-shadow: 8px 8px 17px -4px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 8px 8px 17px -4px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.infographic-footer {
    padding: 10px;
    color: #FFF;
    background-color: #1C6053;
    text-align: center;
}
.infographic-footer h4 {
    font-size: 1.6rem;
}
.infographic-footer p {
    font-size: 1.2rem;
}