main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(./assets/img/collaboratos-background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    /* margin: 35px 0px; */
}
.title-text {
    font-size: 3.2rem;
    font-weight: 600;
    /* margin-bottom: 40px; */
}
.title-image {
    width: 96px;
}
.access {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.access-text {
    align-self: flex-start;
    margin-left: 8vw;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}
.access-input {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 335px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFF;
    outline: none;
    background-color: #0C2E354D;
    border: 1px solid var(--beau-blue);
    border-radius: 7px;
}
.access-input::placeholder {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #DED8D8;
    text-align: center;
}
.access-button {
    width: 160px;
    height: 50px;
    font-size: 2rem;
    font-weight: 600;
    color: #FFF;
    border: 1px solid var(--beau-blue);
    border-radius: 7px;
    background-color: var(--outer-space-crayola);
}