main {
    width: 100%;
    min-width: 320px;
}

/*  Services title*/
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.services-title {
    position: relative;
    height: 120px;
    width: 100%;
}
.rectangle-1 {
    position: absolute;
    width: 65%;
    height: 120px;
    background-color: rgba(17, 32, 48, 0.7);
}
.rectangle-2 {
    position: absolute;
    top: 28px;
    left: calc(50% - (65vw / 2));
    width: 68.5%;
    height: 92px;
    background-color: rgba(22, 62, 70, 0.7);
}
.rectangle-3 {
    position: absolute;
    top: 84px;
    right: 0;
    width: 55%;
    height: 36px;
    background-color: rgba(191, 215, 234, 0.7);
}
.services-title-text {
    position: absolute;
    top: 48px;
    left: 18%;
    z-index: 2;
    font-size: 2.8rem;
    font-weight: 600;
    color: #FFF;
}

/*  Services information cards  */
.services-information {
    position: relative;
}
.services-information-background {
    width: 100%;
}
.services-information-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20%;
    margin-bottom: -15%;
    left: calc(50% - (90% / 2));
    width: 90%;
    background-color: #DDE8F1;
}
.services-information-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 94%;
    height: 92%;
    border: #0D1B1E 2px solid;
}
.services-information-card-container-decoration {
    position: absolute;
    top: -5px;
    left: calc(50% - 10vw);
    width: 20vw;
    height: 10px;
    background-color: #DDE8F1;
}
.information-card-title {
    text-align: center;
}
.information-card-title-text {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Gelasio', sans-serif;
    font-size: 3.6rem;
    font-weight: 600;
    color: #0C2E35;
}
.information-card-list {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.information-card-list-ul {
    list-style-position: outside;
    width: 45%;
}
.information-card-list-ul-li {
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}
.information-card-list-ul-li::marker {
    font-size: 2rem;
    color: var(--outer-space-crayola);
}
.information-card--extra {
    position: relative;
    width: 100%;
}
.information-card--extra-title {
    display: flex;
    justify-content: center;
}
.information-card--extra-title-text{
    height: 24px;
    width: 80%;
    background-color: #BFD7EA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.information-card--extra-ul {
    margin-top: 15px;
}
.information-card--extra-ul-li {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}
.information-card--extra-ul-li::marker {
    font-size: 1.8rem;
    color: var(--outer-space-crayola);
}
.information-card-list-ul-li--health {
    font-size: 1.2rem;
}

/*  Services promotion  */
.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 665px;
    background-color: #BFD7EA80;
}
.promo-title {
    padding: 0 40px;
    font-size: 2.2rem;
    line-height: 29.26px;
    font-weight: 500;
    text-align: center;
    color: var(--outer-space-crayola);
}
.promo-span {
    font-size: 1.6rem;
    color: var(--outer-space-crayola);
}
.promo-require {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
}
.promo-require-container {
    display: flex;
}
.promo-require-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 33%;
    text-align: center;
    background-color: var(--beau-blue);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14.63px;
}
.another-color-promo {
    background-color: var(--dark-jungle-green);
    color: #FFF;
}
.promo-subtitle {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--outer-space-crayola);
}
.promo-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 215px;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 18px;
    background-color: #69BC28;
    color: #FFF;
}
.promo-paragraph {
    padding: 0 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14.65px;
    text-align: center;
}

@media (min-width: 580px) {
    .services-title {
        height: 160px;
    }
    .rectangle-1 {
        height: 162px;
    }
    .rectangle-2 {
        top: 60px;
        height: 102px;
    }
    .rectangle-3 {
        top: 100px;
        height: 60px;
    }
    .services-title-text {
        top: 60px;
        left: 17%;
        font-size: 3.8rem;
    }

    .information-card-title-text {
        font-size: 3.8rem;
    }
    .information-card-list-ul-li {
        font-size: 1.8rem;
    }
    .information-card--extra-title {
        height: 35px;
        font-size: 2rem;
    }
    .information-card--extra-ul-li {
        font-size: 1.8rem;
    }
    .information-card-list-ul-li--health {
        font-size: 1.6rem;
    }

    .promo-title {
        font-size: 2.8rem;
    }
    .promo-span {
        font-size: 2.2rem;
    }
    .promo-require {
        height: 330px;
    }
    .promo-require-paragraph {
        padding: 10px;
        height: 155px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .promo-subtitle {
        font-size: 2.2rem;
    }
    .promo-button {
        width: 250px;
        height: 50px;
        font-size: 1.8rem;
        border-radius: 50px;
    }
    .promo-paragraph {
        font-size: 1.5rem;
    }
}
@media (min-width: 650) {
    .services-information-card {
        top: -200px;
        left: calc(50% - 272.5px);
        margin-bottom: -150px;
        width: 545px;
        height: 650px;
    }
    .services-information-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .information-card-title {
        width: 80%;
    }
    .information-card-title-text {
        font-size: 4.8rem;
    }
    .information-card-list-ul {
        margin-left: 15px;
    }
    .information-card-list-ul-li {
        font-size: 2rem;
    }
    .information-card-list-ul-li::marker {
        font-size: 3rem;
    }
    .information-card-list-ul-li--health {
        font-size: 1.6rem;
    }
    .information-card--extra-title-text {
        width: 385px;
        height: 45px;
        font-size: 2.4rem;
    }
    .information-card--extra-ul {
        margin-left: 15px;
    }
    .information-card--extra-ul-li {
        font-size: 2rem;
    }
    .information-card--extra-ul-li::marker {
        font-size: 3rem;
    }
}
@media (min-width: 1024px) {
    .services {
        justify-content: space-around;
    }
    .services-information {
        width: 49vw;
        max-width: 630px;
    }
}
@media (min-width: 1280px) {
    .services-title {
        height: 190px;
    }
    .services-title-text {
        top: 75px;
        left: 160px;
        font-size: 6.4rem;
    }
    .rectangle-1 {
        width: 700px;
        height: 190px;
    }
    .rectangle-2 {
        left: 105px;
        top: 50px;
        width: 800px;
        height: 140px;
    }
    .rectangle-3 {
        top: 118px;
        width: 1035px;
        height: 72px;
    }

    .services-information-card {
        top: -200px;
        left: calc(50% - 272.5px);
        margin-bottom: -150px;
        width: 545px;
        height: 650px;
    }
    .services-information-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .information-card-title {
        width: 80%;
    }
    .information-card-title-text {
        font-size: 4.8rem;
    }
    .information-card-list-ul {
        margin-left: 15px;
    }
    .information-card-list-ul-li {
        font-size: 2rem;
    }
    .information-card-list-ul-li::marker {
        font-size: 3rem;
    }
    .information-card-list-ul-li--health {
        font-size: 1.6rem;
    }
    .information-card--extra-title-text {
        width: 385px;
        height: 45px;
        font-size: 2.4rem;
    }
    .information-card--extra-ul {
        margin-left: 15px;
    }
    .information-card--extra-ul-li {
        font-size: 2rem;
    }
    .information-card--extra-ul-li::marker {
        font-size: 3rem;
    }

    .promo-title {
        font-size: 4.5rem;
    }
    .promo-span {
        font-size: 3.2rem;
    }
    .promo-require {
        height: auto;
    }
    .promo-require-paragraph {
        margin: 12.5px;
        width: 395px;
        height: 95px;
        font-size: 2rem;
        line-height: 25px;
    }
    .promo-require-paragraph--bottomLeft {
        font-size: 1.6rem;
    }
    .promo-subtitle {
        font-size: 3.2rem;
    }
    .promo-button {
        width: 380px;
        height: 55px;
        font-size: 2.4rem;
    }
    .promo-paragraph {
        font-size: 2rem;
    }
}
@media (min-width: 1281px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-title {
        max-width: 1280px;
    }
    .services {
        max-width: 1280px;
    }
    .promo {
        max-width: 1280px;
    }
}