main {
    width: 100%;
    min-width: 320px;
}
.main-services-title {
    position: relative;
    height: 120px;
}
.rectangle-1 {
    position: absolute;
    width: 65%;
    height: 120px;
    background-color: rgba(17, 32, 48, 0.7);
}
.rectangle-2 {
    position: absolute;
    top: 28px;
    left: calc(50% - (65vw / 2));
    width: 68.5%;
    height: 92px;
    background-color: rgba(22, 62, 70, 0.7);
}
.rectangle-3 {
    position: absolute;
    top: 84px;
    right: 0;
    width: 55%;
    height: 36px;
    background-color: rgba(191, 215, 234, 0.7);
}
.main-services-title H1 {
    position: absolute;
    top: 48px;
    left: 18%;
    z-index: 2;
    font-size: 2.8rem;
    font-weight: 600;
    color: #FFF;
}
.main-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 125px;
    background-color: var(--outer-space-crayola);
}
.main-info-text p {
    margin: auto 0;
    font-size: 1.3rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
}
.main-info-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beau-blue);
}
.main-info-promo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 15px;
    height: 150px;
}
.main-info-promo-button span {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-jungle-green);
}
.main-info-promo-button > div {
    width: 55vw;
    height: 3px;
    background-color: var(--dark-jungle-green);
}

.main-services-information {
    position: relative;
    height: auto;
}
.main-services-information-background {
    width: 100%;
}
.main-services-information-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -21.3vw;
    left: calc(50% - (86.6vw / 2));
    width: 90%;
    height: auto;
    background-color: #DDE8F1;
}
.main-services-information-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 94%;
    height: 92%;
    border: #0D1B1E 2px solid;
}
.main-services-information-card-container > figure {
    position: absolute;
    top: -5px;
    left: calc(50% - 10vw);
    width: 20vw;
    height: 10px;
    background-color: #DDE8F1;
}
.information-card-title {
    text-align: center;
}
.information-card-title h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Gelasio', sans-serif;
    font-size: 3.6rem;
    font-weight: 600;
    color: #0C2E35;
}
.information-card-list {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.information-card-list ul {
    list-style-position: outside;
    width: 45%;
}
.information-card-list ul li {
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}
.information-card-list ul li::marker {
    font-size: 2rem;
    color: var(--outer-space-crayola);
}
.information-card--extra {
    position: relative;
    width: 100%;
}
.information-card--extra div {
    display: flex;
    justify-content: center;
}
.information-card--extra h3{
    height: 24px;
    width: 80%;
    background-color: #BFD7EA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.information-card--extra ul {
    margin-top: 15px;
}
.information-card--extra ul li {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}
.information-card--extra ul li::marker {
    font-size: 1.8rem;
    color: var(--outer-space-crayola);
}
.triangulo {
    width: 0; 
    height: 0; 
    border-left: 15px solid #BFD7EA;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
}
#social-life .main-services-information-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 665px;
    background-color: #BFD7EA80;
}
.main-promo > h2 {
    padding: 0 40px;
    font-size: 2.2rem;
    line-height: 29.26px;
    font-weight: 500;
    text-align: center;
    color: var(--outer-space-crayola);
}
.main-promo > span {
    font-size: 1.6rem;
    color: var(--outer-space-crayola);
}
.main-promo-require {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
}
.main-promo-require > div {
    display: flex;
}
.main-promo-require > div > p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 33%;
    text-align: center;
    background-color: var(--beau-blue);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14.63px;
}
.main-promo-require > div > .another-color-promo {
    background-color: var(--dark-jungle-green);
    color: #FFF;
}
.main-promo > h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--outer-space-crayola);
}
.main-promo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 215px;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 18px;
    background-color: #69BC28;
    color: #FFF;
}
.main-promo > p {
    padding: 0 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14.65px;
    text-align: center;
}