:root {
    --background-triangle--mid-with: calc(14.28571428571429vw);
}

.title {
    position: relative;
    height: 105px;
    width: 100%;
    overflow: hidden;
}
.up-background-figure {
    position: absolute;
    top: -12.5px;
    z-index: 0;
    width: 0; 
    height: 0; 
    border-left: calc(var(--background-triangle--mid-with)) solid transparent;
    border-right: calc(var(--background-triangle--mid-with)) solid transparent;
    border-top: 85px solid #BFD7EA5E;

    animation: slideLeft 2000ms 1;
}
@keyframes slideLeft {
    0% {left: 0px;}
}
.ubf-1 {
    left: calc(0px - var(--background-triangle--mid-with));
}
.ubf-2 {
    left: 0px;
}
.ubf-3 {
    left: var(--background-triangle--mid-with);
}
.ubf-4 {
    left: calc(var(--background-triangle--mid-with) * 2);
}
.ubf-5 {
    left: calc(var(--background-triangle--mid-with) * 3);
}
.ubf-6 {
    left: calc(var(--background-triangle--mid-with) * 4);
}
.ubf-7 {
    left: calc(var(--background-triangle--mid-with) * 5);
}
.ubf-8 {
    left: calc(var(--background-triangle--mid-with) * 6);
}
.bottom-background-figure {
    position: absolute;
    bottom: -12.5px;
    z-index: 0;
    width: 0; 
    height: 0; 
    border-left: calc(var(--background-triangle--mid-with)) solid transparent;
    border-right: calc(var(--background-triangle--mid-with)) solid transparent;
    border-bottom: 85px solid #BFD7EA5E;

    animation: slideLeft 2000ms 1;
}
@keyframes slideLeft {
    0% {left: 0px;}
}
.bbf-1 {
    left: calc(0px - var(--background-triangle--mid-with));
}
.bbf-2 {
    left: 0px;
}
.bbf-3 {
    left: var(--background-triangle--mid-with);
}
.bbf-4 {
    left: calc(var(--background-triangle--mid-with) * 2);
}
.bbf-5 {
    left: calc(var(--background-triangle--mid-with) * 3);
}
.bbf-6 {
    left: calc(var(--background-triangle--mid-with) * 4);
}
.bbf-7 {
    left: calc(var(--background-triangle--mid-with) * 5);
}
.bbf-8 {
    left: calc(var(--background-triangle--mid-with) * 6);
}
.title-text {
    position: relative;
    top: calc(50% - 43.875px);
    z-index: 2;
    font-size: 3.6rem;
    line-height: 43.88px;
    color: #0C2E35;
    text-align: center;
}
.vacancies {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 25px 0px;
}
.vacancies-card {
    position: relative;
    width: 340px;
    height: 435px;
    border: 4px solid #BFD7EA;
    border-radius: 4px;
}
.vacancies-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background-color: #DDE8F1    ;
    border-bottom: 4px solid #BFD7EA;
}
.vacancies-card-title-text {
    font-size: 2.8rem;
    font-weight: 600;
    color: #1F5460E5;
}
.vacancies-card-title-span {
    display: block;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 600;
    color: #1F5460E5
}
.vacancies-card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px;
    height: calc(100% - 70px);
}
.vacancies-card-info-block-title {
    display: block;
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1F5460E5;
}
.vacancies-card-info-block-list {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 25px;
}
.vacancies-card-icon {
    position: absolute;
    bottom: 16%;
    right: 10%;
    width: 90px;
}
.vacancies-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 340px;
}
.vacancies-button {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    height: 40px;
    background-color: #062635;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;

    color: #FFF;
}
.vacancies-button-icon {
    margin-right: 5px;
}
.vacancies-buttons--call {
    margin-right: 25px;
    width: 130px;
}
.vacancies-buttons--whatsapp {
    width: 150px;
}
.vacancies-callButton img {
    margin-right: 5px;
}

@media(min-width: 1280px) {
    .title {
        height: 230px;
    }
    .up-background-figure {
        border-top: 250px solid #BFD7EA5E;
    }
    .bottom-background-figure {
        border-bottom: 250px solid #BFD7EA5E;
    }
    .title-text {
        top: calc(50% - 98px);
        font-size: 8rem;
        line-height: 98px;
    }

    .vacancies-card {
        width: 1125px;
        height: 590px;
    }
    .vacancies-card-title {
        height: 115px;
    }
    .vacancies-card-title-text {
        font-size: 4.8rem;
    }
    .vacancies-card-title-span {
        font-size: 3.6rem;
    }
    .vacancies-card-info {
        height: calc(100% - 115px);
        padding: 30px 85px;
    }
    .order-change {
        order: 3;
    }
    .margin-left-auto {
        margin-left: auto;
    }
    .vacancies-card-info-block {
        width: 50%;
    }
    .vacancies-card-info-block-title {
        margin-bottom: 10px;
        font-size: 3.2rem;
    }
    .vacancies-card-info-block-list {
        font-size: 2rem;
    }
    .vacancies-card-icon {
        bottom: 5%;
        right: 20%;
        width: 240px;
    }
    .vacancies-buttons {
        width: 1125px;
    }
    .vacancies-button {
        height: 70px;
        font-size: 2.8rem;
    }
    .vacancies-button-icon {
        width: 28px;
    }
    .vacancies-buttons--call {
        width: 180px;
    }
    .vacancies-buttons--whatsapp {
        width: 230px;
    }
}
@media (min-width: 1281px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vacancies {
        width: 1280px;
    }
}