.responsiveMenu {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms;
}
.responsiveMenu-option {
    position: absolute;
    z-index: 3;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 70px;
    font-size: 2.4rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #BFD7EAB2;
    background-color: var(--outer-space-crayola);
    color: #FFF;
}

.responsiveMenu-option--last-option {
    border: none;
}

.responsiveMenu-option--home {
    top: 70px;
    animation: drop 850ms 1;
}
.responsiveMenu-option--aboutUs {
    top: calc(70px * 2);
    animation: drop 850ms 1;
}
.responsiveMenu-option--services {
    top: calc(70px * 3);
    animation: drop 850ms 1;
}
.responsiveMenu-option--gallery {
    top: calc(70px * 4);
    animation: drop 850ms 1;
}
.responsiveMenu-option--collaborators {
    top: calc(70px * 5);
    animation: drop 850ms 1;
}
.responsiveMenu-option--workBench {
    top: calc(70px * 6);
    animation: drop 850ms 1;
}
.responsiveMenu-option--contact {
    top: calc(70px * 7);
    animation: drop 850ms 1;
}
@keyframes drop {
    0% {top: 0;}
}

.responsiveMenu-option--home-hidden {
    top: 0;
    animation: up1 850ms 1;
}
@keyframes up1 {
    0% {top: 70px}
}
.responsiveMenu-option--aboutUs-hidden {
    top: 0;
    animation: up2 850ms 1;
}
@keyframes up2 {
    0% {top: calc(70px * 2);}
}
.responsiveMenu-option--services-hidden {
    top: 0;
    animation: up3 850ms 1;
}
@keyframes up3 {
    0% {top: calc(70px * 3);}
}
.responsiveMenu-option--gallery-hidden {
    top: 0;
    animation: up4 850ms 1;
}
@keyframes up4 {
    0% {top: calc(70px * 4);}
}
.responsiveMenu-option--collaborators-hidden {
    top: 0;
    animation: up5 850ms 1;
}
@keyframes up5 {
    0% {top: calc(70px * 5);}
}
.responsiveMenu-option--workBench-hidden {
    top: 0;
    animation: up6 850ms 1;
}
@keyframes up6 {
    0% {top: calc(70px * 6);}
}
.responsiveMenu-option--contact-hidden {
    top: 0;
    animation: up7 850ms 1;
}
@keyframes up7 {
    0% {top: calc(70px * 7);}
}

@media (min-width: 1024px) {
    .responsiveMenu {
        top: 0px;
        flex-direction: row;
        justify-content: space-around;
        z-index: 5;
        width: calc(100vw - 120px);
        height: 90px;
    }
    .responsiveMenu-option {
        position: relative;
        top: 20px;
        width: auto;
        height: 35px;
        font-size: 1.5rem;
        color: #FFF;
        background-color: transparent;
        border: none;
        border-bottom: transparent solid 3px;
        transition: 300ms;
    }
    .responsiveMenu:hover .responsiveMenu-option {
        color: #000;
    }
    .responsiveMenu .responsiveMenu-option:hover {
        color: #FFF;
        border-bottom: #FFF solid 3px;
    }
}
@media (min-width: 1280px) {
    .responsiveMenu {
        height: 128px;
        width: calc(100vw - 150px);
    }
    .responsiveMenu-option {
        font-size: 1.8rem;
        font-weight: 600;
    }
}