:root {
    --grayish-cyan:#82C6B9;
    --light-grayish-cyan: #C2E4DE;
    --very-dark-gray: #464646;
    --ligth-gray: #888888;

    --gallery-item-separation: 100vw / 30 ;
    --gallery-item-width: calc((100vw / 3) - var(--gallery-item-separation));
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-width: 320px;
    height: 87px;
    background-color: var(--light-grayish-cyan);
}
.header-logo {
    height: 87px;
    width: 87px;
    background-image: url(../assets/icons/logo-eishel.svg);
    background-size: contain;
    background-origin: center;
    background-repeat: no-repeat;
}
.header-menu {
    height: 75px;
    width: 75px;
    background-image: url(../assets/icons/nav-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px;
}
main {
    width: 100%;
    min-width: 320px;
}
.base-title-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 65px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    color: #FFF;
    background-color: var(--grayish-cyan);
}
.main-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-board-vacant {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    margin-bottom: 30px;
    width: 340px;
    height: 165px;
    border: var(--grayish-cyan) solid 1px;
    border-radius: 6px;
}
.main-board-vacant a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 71px;
    height: 42px;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--very-dark-gray);
    border: var(--grayish-cyan) 1px solid;
    border-radius: 4px;
    background-color: #FFF;
}
.main-board-vacant a img {
    width: 30px;
    height: 30px;
    margin-left: 7px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 165px;
    margin-bottom: 75px;
    text-align: center;
    background-color: var(--grayish-cyan);
    color: #FFF;
}
footer h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 24px;
}
footer p {
    font-size: 1.4rem;
    font-weight: 400;
}
footer span {
    font-size: 1.4rem;
    font-weight: 400;
}

menu {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: calc(100vh - 75px);
    width: 100%;
    height: 75px;
    border: var(--ligth-gray) solid 1px;
}
menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 33.29%;
    border-left: var(--ligth-gray) solid 1px;
    background-color: #FFF;
}
.menu__first-div {
    border: none;
}
menu div span {
    font-size: 1.2rem;
    font-weight: 500;
}